body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.bg {
    background-color: brown; 
    padding: 20px; 
    text-align: center; 
    width: 30%;
    border-radius: 10px;
  }
  
  .sign {
    background-color: #fff; /* Set the background color of the form to white */
    border-radius: 10px; /* Add rounded corners */
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    width: 75%;
  }
  
  .sign form {
    display: flex;
    flex-direction: column;
   
  }
  
  .sign input[type="text"],
  .sign input[type="number"],
  .sign input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
  }
  
  .sign button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }